<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MagDet</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container-md my-box">
    <h1 class="display-1">旅館大沼</h1>
    <h1 class="h1">温泉空き状況</h1>
        <div class="card-group">

            {% for item in object_list %}
            <img src="{{ item.pic.url }}" width="100" height="100"/>
            <div class="card">
                    <img src="{{ item.pic.url }}" class="card-img-top" alt="Card example">
                    <div class="card-header">{{ item.name }}</div>
                    {% if item.lock %}
                        <div class="h6 card-subtitle"><p class="text-danger">使用中</p></div>
                    {% else %}
                        <div class="h6 card-subtitle"><p class="text-primary">空き</p></div>
                    {% endif %}
                    <div class="h6 card-subtitle">{{ item.note }}</div>
            </div>
            {% endfor %}

        </div>
    </div>

</body>
</html>
